@charset "UTF-8";

main {
    min-height: 100%;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #FFDE59; 
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2); /*borda sobreada */
    z-index: 1000;
}

.logo {
    width: 20%;
    display: flex;
}


.logo img {
    width: 55%;
    margin-top: 3%;
    margin-left: 35%;
    margin-bottom: 4%;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    bottom: 0%;
    background-color: #FFDE59;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2); /*borda sobreada */

}

.logo_footer {
    width: 20%;
    display: flex;
}

.logo_footer img {
    width: 200px;
    margin-top: 8%;
    margin-left: 40%;
    margin-bottom: 3%;
}


.botoes_footer {
    margin-top: 0.7%;
    margin-left: 60%;
}

.botoes_footer button {
    width: 100%;

    cursor: pointer;
    border-radius: 62px;
    background-color: #ffffff;
    color: rgb(126, 36, 36);
    border: 1px solid rgb(126, 36, 36);
    margin-top: 30%;
    padding-bottom: 15%;  
    font-weight: bold;
}

/* Responsivo */
@media (max-width: 768px) {
    .logo_footer img {
        width: 120px;
        margin-top: 13%;
        margin-bottom: 3%;
    }
    .botoes_footer {
        margin-top: 0.7%;
        margin-left: 45%;
        margin-bottom: 5%;
    }


}
